In [1]:
import pandas as pd
data=pd.read_csv('filmTable.csv')

In [5]:
data.head

<bound method NDFrame.head of                  title                                        description
0      Chamber Italian  A Fateful Reflection of a Moose And a Husband ...
1     Grosse Wonderful  A Epic Drama of a Cat And a Explorer who must ...
2      Airport Pollock  A Epic Tale of a Moose And a Girl who must Con...
3    Bright Encounters  A Fateful Yarn of a Lumberjack And a Feminist ...
4     Academy Dinosaur  A Epic Drama of a Feminist And a Mad Scientist...
..                 ...                                                ...
995     Young Language  A Unbelieveable Yarn of a Boat And a Database ...
996         Youth Kick  A Touching Drama of a Teacher And a Cat who mu...
997       Zhivago Core  A Fateful Yarn of a Composer And a Man who mus...
998  Zoolander Fiction  A Fateful Reflection of a Waitress And a Boat ...
999          Zorro Ark  A Intrepid Panorama of a Mad Scientist And a B...

[1000 rows x 2 columns]>

In [13]:
df = pd.DataFrame(data)

# Define keywords and their corresponding classes
keyword_classes = {
    'Boring': 'Waste_of_time',
    'Emotional' or 'Fast': 'Exciting',
    'Amazing' or 'Brillant': 'Great',
    'Epic' or 'Insightful': 'Legend'
}

# Define a function to classify descriptions based on keywords
def classify_by_keywords(description):
    words = description.split()  # Split the description into words
    for word in words:
        if word in keyword_classes:
            return keyword_classes[word]
    return 'Unknown'

# Apply the function to create a new 'classification' column
df['classification'] = df['description'].apply(classify_by_keywords)
df = pd.DataFrame(data)
pd.set_option('display.max_rows', 10)
print(df)

                 title                                        description  \
0      Chamber Italian  A Fateful Reflection of a Moose And a Husband ...
1     Grosse Wonderful  A Epic Drama of a Cat And a Explorer who must ...
2      Airport Pollock  A Epic Tale of a Moose And a Girl who must Con...
3    Bright Encounters  A Fateful Yarn of a Lumberjack And a Feminist ...
4     Academy Dinosaur  A Epic Drama of a Feminist And a Mad Scientist...
..                 ...                                                ...
995     Young Language  A Unbelieveable Yarn of a Boat And a Database ...
996         Youth Kick  A Touching Drama of a Teacher And a Cat who mu...
997       Zhivago Core  A Fateful Yarn of a Composer And a Man who mus...
998  Zoolander Fiction  A Fateful Reflection of a Waitress And a Boat ...
999          Zorro Ark  A Intrepid Panorama of a Mad Scientist And a B...

    classification
0          Unknown
1           Legend
2           Legend
3          Unknown
4           Legend
..             ...
995        Unknown
996        Unknown
997        Unknown
998        Unknown
999        Unknown

[1000 rows x 3 columns]

In [14]:
df = df[df['classification'] != 'Unknown']

print(df)

                  title                                        description  \
1      Grosse Wonderful  A Epic Drama of a Cat And a Explorer who must ...
2       Airport Pollock  A Epic Tale of a Moose And a Girl who must Con...
4      Academy Dinosaur  A Epic Drama of a Feminist And a Mad Scientist...
13      Alamo Videotape  A Boring Epistle of a Butler And a Cat who mus...
17       Alice Fantasia  A Emotional Drama of a A Shark And a Database ...
..                  ...                                                ...
956         War Notting  A Boring Drama of a Teacher And a Sumo Wrestle...
964  Watership Frontier  A Emotional Yarn of a Boat And a Crocodile who...
983      Wonderful Drop  A Boring Panorama of a Woman And a Madman who ...
992      Wrong Behavior  A Emotional Saga of a Crocodile And a Sumo Wre...
994         Yentl Idaho  A Amazing Display of a Robot And a Astronaut w...

    classification
1           Legend
2           Legend
4           Legend
13   Waste_of_time
17        Exciting
..             ...
956  Waste_of_time
964       Exciting
983  Waste_of_time
992       Exciting
994          Great

[200 rows x 3 columns]

In [15]:
classification_counts = df['classification'].value_counts()

print(classification_counts)

Exciting         57
Waste_of_time    53
Great            48
Legend           42
Name: classification, dtype: int64

In [16]:
legend_data = df.query("classification == 'Legend'")
legend_data

,title,description,classification
1,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,Legend
2,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,Legend
4,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,Legend
33,Anything Savannah,A Epic Story of a Pastry Chef And a Woman who ...,Legend
58,Bang Kwai,A Epic Drama of a Madman And a Cat who must Fa...,Legend
...,...,...,...
799,Sinners Atlantis,A Epic Display of a Dog And a Boat who must Su...,Legend
801,Sky Miracle,A Epic Drama of a Mad Scientist And a Explorer...,Legend
864,Sundance Invasion,A Epic Drama of a Lumberjack And a Explorer wh...,Legend
932,Vampire Whale,A Epic Story of a Lumberjack And a Monkey who ...,Legend
950,Voyage Legally,A Epic Tale of a Squirrel And a Hunter who mus...,Legend